.App {
  text-align: center;
  font-family: "ElzaText-Regular", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* tabs */

/* Tab container */
.tabs {
  list-style: none;
  display: flex;
  padding: 0;
  border-bottom: 2px solid #ddd;
}

/* Tab items */
.tabs li {
  padding: 12px 20px;
  cursor: pointer;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: none;
  margin-right: 5px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.tabs li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Active Tab */
.tabs li.active {
  background: #ffffff;
  border-top: 2px solid #007BFF;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: none;
  color: #007BFF;
}

/* Tab Content */
.tab-content {
  display: none;
  padding: 15px;
  border: 1px solid #ddd;
  background: #ffffff;
}

/* Show active tab */
.tab-content.active {
  display: block;
}

/* column container */

.container {
  display: flex;
  height: 700px;
}

/* Left Column - Fixed */
.left-column {
  width: 40%;
  background: #f4f4f4;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

/* Right Column - Scrollable */
.right-column {
  margin-left: 37%; /* Same as left column width */
  width: 60%;
  overflow-y: auto;
  height: 100%;
  padding: 0px 20px 20px 20px;
  background: #fff;
  font-size: 16px !important;
  text-align: right;
}
.no-space {
  margin-top: 0px !important;
}
.left-column button, .right-column button {
    border-radius: 8px;
    border: 1px solid;
    font-size: 16px;
    font-family: "ElzaText-Regular", sans-serif;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    min-width: auto;
    transition: all .1s linear;
    /* display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px; */
    position: relative;
    color: #1328e2;
}

.webcam-container {
  padding: 16px;
  background: #ebf7ff;
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 4px 0px rgba(66,78,236,.5);
  border: 1px solid #eceefd;
}



/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-column {
    width: 100%;
    height: auto;
    position: relative;
  }

  .right-column {
    width: 100%;
    margin-left: 0;
    height: calc(100vh - 100px);
  }
}

/* Column container */

/* border text area */
/* Text Area Container */
.textarea-container {
  position: relative;
  /* width: 300px; */
  cursor: pointer;
}

/* Custom Text Area */
.custom-textarea {
  width: 80%;
  height: 180px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  font-family: "ElzaText-Regular", sans-serif;
  margin-top: 20px
}

/* Bottom-Right Positioned Icon */
.icon-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 3px;
  background: #98a8b9;
  border-radius: 6px;
}

/* Click Effect */
.icon-container:active {
  transform: scale(0.9);
}

/* Disabled State */
.icon-container.disabled {
  pointer-events: none; /* Prevent Click */
  opacity: 0.5;
  cursor: not-allowed;
}

/* Responsive Design */
@media (max-width: 400px) {
  .textarea-container {
      width: 90%;
  }
}

/* .summary-block {
  position: relative;
  max-width: calc(90% - 72px);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: max-content;
  background: #fff;
  position: relative;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 2px 0px rgba(90, 102, 115, .37) inset;
  text-align: left;
} */